# Normalize text files (e.g., code files) to use LF line endings
* text=auto

# Force Git to treat Jupyter Notebooks (.ipynb) as binary files
# This prevents Git from trying to diff or normalize notebook contents
*.ipynb binary
